<div class="flex flex-col items-center justify-center h-auto px-[25px] py-[122px]">
    <div class="flex flex-col items-center justify-center gap-[48px] align-left">
        <div class="container flex flex-col items-center justify-center gap-[-4px] align-left w-[600px]">
            <h1 class="text-[64px] font-bold leading-[72px]">
                We are a creative agency that brings brands to life
            </h1>
            <h1 class="text-[64px] font-bold leading-[72px]">
                We are a creative agency that brings brands to life
            </h1>
            
        </div>


    </div>


</div>